<div>
    <button (click)="clickAddHotel()">Add Travel</button>
    <div class="row" [hidden]="current.travelPlan==undefined">
        Listado
        <li *ngFor="let travelplan of current.travelPlan">
            <span>{{travelplan.id}}</span> {{travelplan.transportWay.name}}
        </li>
    </div>
    <div class="row">
        {{selected | json}}
        <div class="form-group col-md-12">
            <label>Id</label>
            <input type="text" class="form-control" [(ngModel)]="selected.id" placeholder="id" readonly="true">
        </div>
        <div class="form-group col-md-6">
            <label>Way of Transport</label>
            <travelway-selector [(selected)]="selected.transportWay" [(idSelected)]="selected.idTransportWay"></travelway-selector>
        </div>
        <div>
            <button (click)="clickSaveTravelPlan()">Save</button>
        </div>
    </div>
    <div class="row" [hidden]="current.travelPlan!=undefined && current.travelPlan.length>0">
        Do you want the Travel Agency to book your Travel ?
    </div>
        <div class="row">
        Do you want the Travel Agency to book your Hotel ?
    </div>

</div>