<div>
    +++{{step}}
    <!--LIST-->
    <div class="row" [hidden]="current.travelPlan.length<1 || isEdition">
        Listado
        <button (click)="clickAddTravel()">Add Travel</button>
        <li *ngFor="let travelplan of current.travelPlan">
            <span>{{travelplan.id}}</span> <span *ngIf="travelplan.transportWay!=undefined">{{travelplan.transportWay.name}}</span>
        </li>
    </div>
    <div class="row" [hidden]="current.travelPlan.length>0 && !isEdition" >
        <!--TRAVEL QUESTION-->
        <div class="row" [hidden]="current.travelPlan.length>0 || isEdition || isHotelEdition">
            Do you want the Travel Agency to book your Travel ?
            <button (click)="clickYesTravelPlan()">Yes</button><button (click)="clickNoTravelPlan()">No</button>
        </div>
        <!--TRAVEL EDITOR-->
        <div class="row" [hidden]="!isTravelEdition">
            {{selected | json}}
            <div class="form-group col-md-12">
                <label>Id</label>
                <input type="text" class="form-control" [(ngModel)]="selected.id" placeholder="id" readonly="true">
            </div>
            <div class="form-group col-md-6">
                <label>Way of Transport</label>
                <travelway-selector [(selected)]="selected.transportWay" [(idSelected)]="selected.idTransportWay"></travelway-selector>
            </div>
            <div>
                <button (click)="clickSaveTravelPlan()">Save</button><button (click)="clickCancelTravelPlan()">Cancel</button>
            </div>
        </div>
        <!--HOTEL QUESTION-->
        <div class="row" [hidden]="!isHotelEdition || selected.hotel_yn">
            Do you want the Travel Agency to book your Hotel ?
            <button (click)="clickYesHotel()">Yes</button><button (click)="clickNoHotel()">No</button>
        </div>
        <!--HOTEL EDITOR-->
        <div class="row" [hidden]="!isHotelEdition || !selected.hotel_yn">
            <div class="form-group col-md-6">
                <label>Hotel Preference</label>
                <input type="text" class="form-control" [(ngModel)]="selected.hotel_preference" >
            </div>
            <div>
                <button (click)="clickSaveHotel()">Save</button><button (click)="clickCancelHotel()">Cancel</button>
            </div>
        </div>
    </div>
</div>