<div>
 <h1>Travel Expenses</h1>
    <nav>
      <a [routerLink]="['/']" routerLinkActive="active">Home</a>
      <a [routerLink]="['/travel']" routerLinkActive="active">Travel</a>
      <a [routerLink]="['/traveldocument/0']" routerLinkActive="active">Travel Document</a>
      <a [routerLink]="['/traveldocument/manager/0']" routerLinkActive="active">Travel Document Mode</a>
      <a [routerLink]="['/travellist']" routerLinkActive="active">Travel List</a>
    </nav>
    <router-outlet></router-outlet>  
</div>