<div>
    <input [(ngModel)]="travels" placeholder="travels">
    <!--<input [(ngModel)]="current.purpose.name" placeholder="purpose" readonly="true">-->
    <button class="btn btn-default" (click)="onCancel($event)">Myclick</button>
    <br> {{current | json}}

    <div class="container">
        <button (click)="clickPrev()">Prev</button> {{step}}
        <button (click)="clickNext()">Next</button>
        <div class="step" [hidden]="step!=1">
            <div class="row">
                propertiesssssss
                <button md-button>FLAT</button>
                <button md-raised-button>RAISED</button>
                <button md-icon-button>
                    <md-icon class="md-24">favorite</md-icon>
                </button>
                <button md-fab>
                    <md-icon class="md-24">add</md-icon>
                </button>
                <button md-mini-fab>
                    <md-icon class="md-24">add</md-icon>
                </button>
            </div>
        </div>
        <div class="step" [hidden]="step!=2">
            <travel-document-step1 [(current)]="current"></travel-document-step1>
        </div>
        <div class="step" [hidden]="step!=3">
            <travel-document-step2 [(current)]="current" [(step)]="step"></travel-document-step2>
        </div>
        <div class="step" [hidden]="step!=4">
            <travel-document-step3 [(current)]="current" [(step)]="step"></travel-document-step3>
        </div>
        <div class="step" [hidden]="step!=5">
            <button (click)="clickReview()">Review</button>
            <button (click)="clickRequestAuthorization()">Request Authorization</button>
            <div class="row">
                Review
            </div>
        </div>
    </div>
</div>