<div>
    <input [(ngModel)]="travels" placeholder="travels">
    <!--<input [(ngModel)]="current.purpose.name" placeholder="purpose" readonly="true">-->
    <button class="btn btn-default" (click)="onCancel($event)">Myclick</button>
    <br> {{current | json}}

    <div class="container">
        <button (click)="clickPrev()">Prev</button>
        <button (click)="clickNext()">Next</button>
        <div class="step" [hidden]="step!=1">
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Id</label>
                    <!--<input type="text" class="form-control" name="firstName" [(ngModel)]="customer.firstName" #firstName="ngModel" required>-->
                    <input type="text" class="form-control" [(ngModel)]="current.id" placeholder="id" readonly="true">
                    <!--<div class="alert alert-danger" [hidden]="firstName.valid">First Name is required</div>-->
                </div>
                <div class="form-group col-md-6">
                    <label>Travel Type</label>
                    <traveltype-selector></traveltype-selector>
                </div>
                <div class="form-group col-md-6">
                    <label>Destination</label>
                    <input type="text" class="form-control" [(ngModel)]="current.destination" placeholder="destination">
                </div>
                <div class="form-group col-md-6">
                    <label>From</label>
                    <input type="date" class="form-control" [(ngModel)]="current.from" placeholder="from">
                </div>
                <div class="form-group col-md-6">
                    <label>To</label>
                    <input type="date" class="form-control" [(ngModel)]="current.to" placeholder="to">
                </div>
                <div class="form-group col-md-6">
                    <label>Purpose</label>
                    <purpose-selector [(selected)]="current.purpose" [(test)]="travels"></purpose-selector>
                </div>
                <div class="form-group col-md-12">
                    <label>Cost Center</label>
                    <costcenter-selector [(idSelected)]="current.id_costcenter" [(selected)]="current.costcenter"></costcenter-selector>
                </div>
            </div>
        </div>
        <div class="step" [hidden]="step!=2">
            <travel-document-step1 [(current)]="current"></travel-document-step1>
        </div>
        <div class="step" [hidden]="step!=3">
            <button (click)="clickAddHotel()">Add Travel</button>
            <div class="row">
                Hotel
            </div>
        </div>
        <div class="step" [hidden]="step!=4">
            <button (click)="clickAddHotel()">Add Travel</button>
            <div class="row">
                Advance
            </div>
        </div>
        <div class="step" [hidden]="step!=5">
            <button (click)="clickAddHotel()">Review</button>
            <div class="row">
                Review
            </div>
        </div>
    </div>
</div>